{% autoescape off %}
Hola,
Peticion para cambio de contraseña recibida. Para iniciar el cambio de contraseña en tu usuario hace click en el enlace debajo.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Este link solo puede ser utilizado una vez. Si usted nesecita recuperar su contraseña nuevamente, porfavor visite {{ protocol }}://{{domain}} y solicite un nuevo cambio de contraseña.

Si usted no hizo esta peticion simplemente ignorela.

Saludos, Villa Marketplace Team

{% endautoescape %}