.land-img-container {
    width: 100%;
}

.land-img {
    width: 100%;
    object-fit: contain;
}

.land-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.land-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.land-sub-title {
    margin: 20px 0;
}

.marketplace-button {
    color: white;
    text-decoration: none;
}
.marketplace-button:hover {
    color: white;
}

.button-marketplace {
    width: fit-content;
    height: unset !important;
    padding: 15px 30px !important;
}

@media (max-width: 767px) {
    .land-left {
        align-items: center;
        text-align: center;
    }

    .button-marketplace {
        margin-bottom: 60px;
    }
}