.land-img {
    background-image: url(/src/img/villada.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: var(--shadow);
    border-radius: 10px;
    height: 470px;
}

.land-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.land-sub-title {
    margin: 20px 0;
}

.button-marketplace {
    height: unset !important;
    padding: 15px 30px !important;
}