{% extends 'blog/base.html' %}

{% block content %}


                    <form action="/crearpost/" method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}
                        
                        <div class="fieldWrapper">
                            <label for="">Title</label>
                            {{ crear_post_form.title }}
                        </div>
                        <br>
                        <div class="fieldWrapper">
                            <label for="">Body</label>
                            {{ crear_post_form.body }}
                        </div>
                        <br>
                        
                        <div class="fieldWrapper">
                            <label for="">Imagen</label>
                            {{ crear_post_form.imagen }}
                        </div>
                        <br>
                        <button class="btn btn-success" type= 'submit'>Crear</button>
                    </form>

{% endblock %}