{% extends 'blog/base.html' %}

{% block content %}


                    <form action="/crearpost/" method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}
                        
                        <div class="fieldWrapper">
                            <label for="">title:</label>
                            {{ form.title }}
                        </div>
                        <br>
                        <div class="fieldWrapper">
                            <label for="">body:</label>
                            {{ form.body }}
                        </div>
                        <br>
                        
                        <div class="fieldWrapper">
                            <label for="">imagen:</label>
                            {{ form.imagen }}
                        </div>
                        <br>
                        <button class="btn btn-success" type= 'submit'>Modificar</button>
                    </form>

{% endblock %}