{% extends 'blog/base.html' %}

{% block content %}

    <h1 class="title">{{ post.title }}</h1>

    <small>Publicado {{ post.date }}</small>

    <p><strong>{{ post.intro }}</strong></p>

    <img src="{{ post.imagen.url }}">

    <p>{{ post.body }}</p>

    <hr>

    <h2 class="subtitle">Comentarios</h2>

    {% for comment in post.comments.all %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        {{ comment.comentario }}
                        <br>
                        <small>{{ comment.date }}</small>
                    </p>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="notification">
            <p>No hay comentarios todavia!</p>
        </div>
    {% endfor %}
    <hr>

    <h2 class="subtitle">Agregar comentario</h2>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="field">
            <div class="control">
                <button class="btn btn-success">Enviar</button>
            </div>
        </div>
    </form>
    <br>
    <br>

    <a class= "btn btn-warning" href=" {% url 'editarpost' post.title %}">MODIFICAR POST</a> 
    <button>BORRAR POST</button>

{% endblock %}
