.pool-card{
    width: 100%;
    border-style: none;
}
.pool-card-item {
    padding-bottom: 7px !important;
    margin-bottom: 7px !important;
}

.whatsapp {
    font-size: 18px;
    margin-right: 5px;
}

.pool-button {
    background-color: #0ee850 !important;
    width: 100%;
}

.pool-button:link {
    color: #fff;
    text-decoration: none;
}

.pool-button:visited {
    color: #fff;
}
