.login-card {
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 50vmin;
    color: rgb(49, 49, 49);
    padding: 0 4vmin;
    justify-content: space-evenly;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-25vmin, -40vh);

    background: rgb(246, 246, 246);
    border-radius: 40px;
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    box-shadow: inset 6px 5px 10px 5px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 6px 5px 60px 5px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 6px 5px 60px 5px rgba(255, 255, 255, 0.3);
    border: solid 3px rgba(255, 255, 255, 0.4);

    box-shadow: 10px 10px 224px -34px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 224px -34px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 224px -34px rgba(0,0,0,0.75);
}


/* Medias */
@media (max-width: 768px) {
    .login-card {
        width: 100vw;
        height: 100vh;
        transform: translate(-50vw, -50vh);
        border-radius: 0;
        border: none;
    }
    
}