:root {
    --main-color: rgb(94, 145, 221);
}

* {
    font-family: "Poppins";
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    color: #313131;
    font-size: 50px;
    font-weight: 600;
}

h2 {
    color: #4D4D4D;
    font-size: 30px;
    margin: 0;
    font-weight: 600;
}

h3 {
    color: #4D4D4D;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

p {
    color: #4D4D4D;
    margin: 0;
    font-size: 16px;
}


.page-container {
    padding: 120px 4%;
}


/* Input */


.input-label {
    color: #4D4D4D;
    margin: 0;
}

.input {
    background-color: #F5F5F5;
    color: #4D4D4D;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    outline: none;
    padding: 0 15px;
    height: 40px;
}


/* Button */


.button {
    padding: 0 15px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    height: 40px;
    transition: all .3s ease;
}

.button:hover,
.button:focus {
  background-color: #719FEF;
}


/* Decoration */


.unpadding {
    margin: unset;
    padding: unset;
}

.unbackground {
    border-style: unset;
    background-color: unset;
}

.bold-hr {
    background-color: var(--main-color);
    opacity: unset;
    border-style: none;
    border-radius: 10px;
    margin: 10px 0 0 0;
    height: 7px;
    width: 40px;
}

.blue-section {
    color: var(--main-color);
}