.navbar {
    position: fixed;
    top: 0;
    padding: 15px 4%;
    background-color: #fff;
    box-shadow: var(--shadow);
    width: 100%;
    z-index: 2;
}


/* Title */


.upf {
    font-size: 24px;
    font-weight: 500;
}


/* Links */


.nav-link {
    margin: 0 10px;
    color: #4D4D4D;
    transition: all .3s ease;
}

.nav-link:hover {
    color: #6490DC;
}

.selected-view {
    color: var(--main-color);
}


/* Buttoms */


.nav-register-button {
    margin-left: 10px;
    background-color: unset;
    color: var(--main-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-color);
}

.nav-register-button:hover {
    border-color: #719FEF;
}