.navbar {
    position: fixed;
    top: 0;
    padding: 15px 4%;
    background-color: #fff;
    box-shadow: var(--shadow);
    width: 100%;
    z-index: 2;
}


/* Title */

.logout-icon {
    color: white;
    font-size: 16px;
    margin-left: 14px;
}


.upf {
    font-size: 24px;
    font-weight: 500;
}


/* Links */


.nav-link {
    margin: 0 10px;
    color: #4D4D4D;
    transition: all .3s ease;
}

.nav-link:hover {
    color: var(--main-color);
}

.selected-view {
    color: var(--main-color);
}


/* Buttoms */


.nav-register-button {
    margin-left: 10px;
    background-color: unset !important;
    color: var(--main-color) !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: var(--main-color) !important;
    
    --bs-btn-focus-shadow-rgb: 158,149,236 !important;
}

.nav-register-button:hover {
    background-color: #29235C !important;
    border-color: #29235C !important;
    color: #fff !important;
}