.cross {
    position: absolute;
    top: 1rem;
    right: 1.4rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.register-inputs {
    height: 35vmin;
}

/* Medias */
@media (max-width: 768px) {

    .register-inputs {
        height: 30%;
    }
    
}