<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>cambiar contraseña aca</h1>
    <form>
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <label>contraseña</label>
        <input type="text" name="new_password" class="form-control">

        <label>confirmar contraseña</label>
        <input type="text" name="reconfirm_password" class="form-control">

        <button class="" type="submit">Cambiar</button>
        <input type="hidden" name="user_id" value="{{ user_id }}">
    </form>
</body>
</html>