<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Perdio su contraseña, no se preocupe !</h1>
    <h2>Ingrese su nombre de usuario</h2>
    <form class="form" method="POST">
        
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}

        <input type="text" name="username" placeholder="username">
        <button type="submit"> recuperar</button>
    </form>
</body>
</html>