.form-type-selection-container {
    margin-bottom: 30px;
}

.form-type-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-type-header-type {
    margin-bottom: 20px;
}

.form-type-btn {
    border: unset;
    color: #313131;
    background-color: #fff;
    box-shadow: var(--shadow);
    border-radius: 10px;

    margin-bottom: 10px;
    padding: 20px;
    width: 100%;
}

.form-type-icon-btn {
    margin-right: 10px;
    height: 40px;
}