.blog-card {
    margin-top: 4rem;
    cursor: pointer;
}

.blog-card img {
    width: 100%;
    border-radius: 20px;
}

.blog-card h3 {
    color: var(--main-color);
}

.blog-card .description {
    margin-bottom: 1rem;
}

.blog-card .date {
    color: rgb(180, 180, 180);
}


.blog-entry {
    margin-top: 2rem;
}

.blog-entry .left-side {}

.blog-entry .notice-title {
    color: var(--main-color);
    letter-spacing: 0.4rem;
}

.blog-entry .blog-creator, 
.blog-entry .blog-date {
    color: rgb(180, 180, 180);
}

.blog-entry .blog-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.blog-entry .blog-image {
    width: 100%;
}

.vertical-hr {
    width: 1px;
}

.vertical-hr div{ 
    border: none;
    background-color: rgb(208, 208, 208);
    height: 100vh;
    width: 2px;      
    height: 100%;
    border-radius: 50px; 
}

.comments-title {
    color: rgb(65, 65, 65);
    letter-spacing: 0.4rem;
    margin: 0;
}

.comments-hr {
    border-top: 2px solid rgb(208, 208, 208);
    margin: 0.8rem 0;
}

.blog-image-div {
    max-height: 30%;
    overflow: hidden;
    border-radius: 20px;
}