.sub-title {
    font-size: 1.5rem;
    color: rgb(115, 115, 115);
    line-height: 1.4;
    margin: 2rem 0;
}

.texto-conoce-mas {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    letter-spacing: 0.3rem;
    cursor: pointer;
    color: var(--main-color);
}
.conocer-link {
    color: var(--main-color);
    margin-left: 1rem;
}

.btn-marketplace {
    background-color: var(--main-color);
    border: solid 2px var(--main-color);
    padding: 2vmin 2.4vmin;
    border-radius: 4px;
    height: 4vmin;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: rgb(240, 240, 240);
}
.btn-marketplace:hover {
    color: rgb(240, 240, 240);
}

.top-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 89vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vmin;
}

.foto-cole {
    background-image: url('../villada.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin: 8vmin 10vmin 10vmin 0;
}

.top-title {
    color: rgb(51, 51, 51);
    margin-top: 6vmin;
    font-weight: bold;
    font-size: 2.8rem;
    width: 100%;
    overflow: hidden;
    letter-spacing: 0.6rem;
    margin-bottom: 0;
}
.top-title span {
    color: var(--main-color);
}

.left-card {
    margin: 8vmin 0 10vmin 10vmin;
    position: relative;
}

@media (max-width: 768px) {

    .top-title {
        font-size: 6vmin;
        width: 80%;
        text-align: center;
        margin: 12vmin auto auto auto;
        letter-spacing: 2vmin;
    }

}