input::file-selector-button {
    display: none;
}

.events-form-photo-label {
    margin-top: 0 !important;
}

.event-image-input-container {
    width: 100%;
    height: 300px;

    border-style: dashed;
    border-radius: 10px;
    border-width: 2px;
    border-color: #dddddd;
}

.event-image-input {
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.events-description {
    padding: 7px 15px !important;
}

.events-form-button {
    margin-top: 20px;
}