.event-card-r, .event-card-l {
    padding: 20px;
    background-color: #fff;
    box-shadow: var(--shadow);
    border-radius: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}


/* Photo */


.event-card-photo-container {
    background-color: var(--main-color);
    border-radius: 20px;
    min-height: 360px;
    height: 100%;
}

.event-card-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Content */


.event-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Top */


.event-card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Description */


.event-title {
    margin: 20px 0;
    color: var(--main-color);
}


/* Footer */

.event-card-footer {
    margin-top: 20px;
}

@media (max-width: 991px) {
    .event-card-top.card-r {
        margin-top: 10px;
    }

    .event-card-footer.card-l {
        margin-bottom: 10px;
    }
}