.profile-page {
    max-width: 1366px;
    padding: 0 4% 0;
}


.profile-page-row {
    align-items: flex-start !important;
}

.profile-page-left {
    padding-top: 120px;
}

.profile-page-right {
    padding: 120px 0 0 20px;
}


/* Left Page */


.profile-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-user-img {
    background-color: var(--main-color);
    border: 5px solid #fff;
    box-shadow: var(--shadow);
    margin-right: 20px;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    object-fit: cover;
}

.profile-section {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.profile-section .bold-hr {
    margin-bottom: 10px;
}


/* Button */


.profile-section-button {
    background-color: unset;
    color: #313131;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: initial;
    width: 200px;
    border: unset;
}

.profile-section-button:hover {
    background-color: #E1DDFF;
}

.active-section {
    background-color: #E1DDFF;
}


/* Right Page */


.section-header {
    margin-bottom: 40px;
}


/* My Profile */

.my-profile-img {
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: var(--shadow);
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.my-profile-input {
    margin-bottom: 25px !important;
    max-width: 400px;
}